modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BJSsTi9AaD4sIg7Spgl2xPoMO-SPp5_ukaQdicEgVbfnE1pcr80yz9-0KTdxVHIT2qKIbJgstY00xxj76QVvZ0k"
VAPID_PRIVATE_KEY = "_u4hJ6KFm9JOuMVG9i-pJRke79fG4cElTIt6lyGhams"
VAPID_EMAIL = "info@fireskyindustries.co.za"
